# Ignore environment variables
.env

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Logs
logs
*.log
npm-debug.log*
